# Игнорировать виртуальное окружение
.venv/

# Игнорировать конфигурационные файлы и переменные окружения
.env

# Игнорировать файлы и папки IDE
.idea/

# Игнорировать статические файлы, если они генерируются
static/
visualizations/

# Игнорировать временные файлы
*.log
*.tmp
*.bak

# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo

# Игнорировать результаты тестов
coverage/
*.coverage
test-results/

# Игнорировать архивы и бэкапы
*.tar
*.zip
*.gz
*.bak
